
<div class=" text-center">
  <h1 class="text-2xl">Articles</h1>
</div>

<div class="flex justify-center space-x-2">
  <% @articles.each do |article| %>
    <div class="bg-slate-300 p-3 rounded-md shadow-md hover:scale-105 transition duration-75 delay-75 hover:cursor-pointer">
      <p class="text-2xl"><%= article.title %></p>
      <p class="text-lg"><%= article.body%></p>
    </div>
  <% end %>
</div>
